<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Images</key>
	<array>
		<string>mediumthreat1</string>
		<string>mediumthreat2</string>
		<string>mediumthreat3</string>
		<string>mediumthreat4</string>
		<string>mediumthreat5</string>
	</array>
</dict>
</plist>
